@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Average', serif;
  background-color: #ffffff;
  color: #212529;
}
